In [2]:
import pandas as pd
import numpy as np

# Read csv file

In [7]:
df = pd.read_csv('Rectangular Data.csv')
df

      Name        Breed  Color  Height(cm)  Weight(kg) Date of Birth
0    Bella     Labrador  Brown          56          25    2013-07-01
1  Charlie       Poddle  Black          43          23    2016-09-16
2     Lucy    Chow Chow  Brown          46          22    2014-08-25
3   Copper    Schnauzer   Gray          49          17    2011-12-11
4      Max     Labrador  Black          59          29    2017-01-20
5   Stella    Chihuahua    Tan          18           2    2015-04-20
6   Bernle  St. Bernard  White          77          74    2018-02-27

# Explore Dataset:head()

we use head() method to see the first five rows in the dataset.

In [8]:
df.head()

      Name      Breed  Color  Height(cm)  Weight(kg) Date of Birth
0    Bella   Labrador  Brown          56          25    2013-07-01
1  Charlie     Poddle  Black          43          23    2016-09-16
2     Lucy  Chow Chow  Brown          46          22    2014-08-25
3   Copper  Schnauzer   Gray          49          17    2011-12-11
4      Max   Labrador  Black          59          29    2017-01-20

# Explore Dataset:info()
The info() function is used to print a concise summary of a DataFrame. This method prints information about a DataFrame including the index dtype and column dtypes, non-null values and memory usage. Whether to print the full summary. By default, the setting in pandas.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           7 non-null      object
 1   Breed          7 non-null      object
 2   Color          7 non-null      object
 3   Height(cm)     7 non-null      int64
 4   Weight(kg)     7 non-null      int64
 5   Date of Birth  7 non-null      object
dtypes: int64(2), object(4)
memory usage: 464.0+ bytes

# Explore Dataset: .shape
The shape attribute of pandas. DataFrame stores the number of rows and columns as a tuple (number of rows, number of columns) . It is also possible to unpack and store them in separate variables.

In [10]:
df.shape

(7, 6)

# Explore Dataset: .describe()
Pandas describe() is used to view some basic statistical details like percentile, mean, std etc. of a data frame or a series of numeric values. When this method is applied to a series of string, it returns a different output which is shown in the examples below.

In [11]:
df.describe()

       Height(cm)  Weight(kg)
count    7.000000    7.000000
mean    49.714286   27.428571
std     17.960274   22.292429
min     18.000000    2.000000
25%     44.500000   19.500000
50%     49.000000   23.000000
75%     57.500000   27.000000
max     77.000000   74.000000

# Components of a DataFrame: .values
The values property is used to get a Numpy representation of the DataFrame. Only the values in the DataFrame will be returned, the axes labels will be removed. The values of the DataFrame. A DataFrame where all columns are the same type (e.g., int64) results in an array of the same type.

In [12]:
df.values

array([['Bella', 'Labrador', 'Brown', 56, 25, '2013-07-01'],
       ['Charlie', 'Poddle', 'Black', 43, 23, '2016-09-16'],
       ['Lucy', 'Chow Chow', 'Brown', 46, 22, '2014-08-25'],
       ['Copper', 'Schnauzer', 'Gray', 49, 17, '2011-12-11'],
       ['Max', 'Labrador', 'Black', 59, 29, '2017-01-20'],
       ['Stella', 'Chihuahua', 'Tan', 18, 2, '2015-04-20'],
       ['Bernle', 'St. Bernard', 'White', 77, 74, '2018-02-27']],
      dtype=object)

# Components of a DataFrame: .columns and .index
The values property is used to get a Numpy representation of the DataFrame. Only the values in the DataFrame will be returned, the axes labels will be removed. The values of the DataFrame. A DataFrame where all columns are the same type (e.g., int64) results in an array of the same type.<br>
What does .columns do in Pandas?
It can be thought of as a dict-like container for Series objects. This is the primary data structure of the Pandas. Pandas DataFrame. columns attribute return the column labels of the given Dataframe

In [13]:
df.columns

Index(['Name', 'Breed', 'Color', 'Height(cm)', 'Weight(kg)', 'Date of Birth'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=7, step=1)